@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

section {
  scroll-margin-top: 90px;
}

a {
  transition: 0.3s;
}

a:hover {
  color: #6366f1;
}